<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title th:text="${experience.title}">Experience Title</title>
</head>

<body>
<!-- header will go here -->

<main class="container">
    <div class="row">
        <!--
        Thymeleaf template engine uses standard HTML files instead of a custom format.
        This allows the HTML file to be previewed normally in the browser without having to process it through
        the template engine first, which drastically enhances the developer experience.
        When previewed in a browser, the custom "th:XXX" attributes are simply ignored, and the normal attribute/text
        values are rendered.
        When ran through Thymeleaf, the "th:XXX" tags are processed and their internal expressions are evaluated.
        Thymeleaf will then use these dynamically-generated values to replace the default texts.
        The expressions can access variables in the model through the ${varName} syntax.

        For example, when this file is opened in a browser, this header will display "Experience Title".
        But when running this Application and navigating to an Experience page, this header will display the
        Experience's title instead.
        -->
        <h1 class="col mb-4" th:text="${experience.title}">Experience Title</h1>
    </div>
    <a th:href="@{/experience/{experienceId}/add-to-trip(experienceId=${experience.experienceId})}" class="btn btn-primary">
        Add to Trip
    </a>
    <div th:if="${isAuthor}" class="row gx-5 mb-2">


        <a th:href="@{/experience/{experienceId}/update(experienceId=${experienceId})}"
           href="./create-update-experience.html" class="col-auto">
            <button type="button" class="btn btn-primary btn-sm" style="width: 4rem">Edit</button>
        </a>

        <button type="button" class="btn btn-danger btn-sm col-auto"
                data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" style="width: 4rem">
            Delete
        </button>
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h1 class="modal-title fs-5 w-100" id="confirmDeleteModalLabel">
                            Are you sure you want to delete this Experience?
                        </h1>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <form th:action="@{/experience/{experienceId}/delete(experienceId=${experienceId})}"
                              action="#" method="post">
                            <button type="submit" class="btn btn-danger btn-sm me-5" style="width: 3rem">
                                Yes
                            </button>
                        </form>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" style="width: 3rem">
                            No
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <p class="col mb-2">
            <!-- Boostrap icon prepended to the text, in this case a map-pin -->
            <i class="bi bi-pin-map"></i>
            <span th:text="${experience.address} ?: ${#numbers.formatDecimal(experience.locationLat, 1, 6)} + ', ' + ${#numbers.formatDecimal(experience.locationLng, 1, 6)}">
                123 Fake St. City, State Country
            </span>
        </p>
    </div>

    <div class="row">
        <p class="col mb-2">
            <i class="bi bi-calendar-date"></i>
            <span th:text="${#temporals.format(experience.eventDate)}">January 1, 2025</span>
        </p>
    </div>

    <div class="row">
        <p class="col mb-2">
            <i class="bi bi-star"></i>
            <span th:if="${experience.ratingCnt == 0}">No ratings</span>
            <span th:if="${experience.ratingCnt > 0}" th:text="${rating}">4.67 / 5.0</span>
            <span th:if="${experience.ratingCnt == 1}" style="font-size: 0.75rem"> (1 rating)</span>
            <span th:if="${experience.ratingCnt > 1}" style="font-size: 0.75rem"
                  th:text="${' (' + experience.ratingCnt + ' ratings)'}"> (5 ratings)</span>
        </p>
    </div>

    <div class="row">
        <p class="col mb-4">
            <i class="bi bi-person"></i>
            <span th:text="${'Submitted by ' + author + ' ' + submittedDuration + ' ago'}">Submitted by username 5 days ago</span>
        </p>
    </div>

    <!-- Bootstrap tab component for switching between the Experience photo, map view, and street view displays -->
    <ul class="nav nav-tabs border-0" role="tablist" style="margin-bottom: 1px">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="photo-tab" data-bs-toggle="tab" data-bs-target="#photo-tab-pane"
                    type="button" role="tab" aria-controls="photo-tab-pane" aria-selected="true">Photo
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map-tab-pane"
                    type="button" role="tab" aria-controls="map-tab-pane" aria-selected="false">Map
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="street-view-tab" data-bs-toggle="tab" data-bs-target="#street-view-tab-pane"
                    type="button" role="tab" aria-controls="street-view-tab-pane" aria-selected="false">Street View
            </button>
        </li>
    </ul>

    <div class="tab-content overflow-hidden mb-4" style="height: 50vh">
        <!-- Add a black background to the photo -->
        <div class="tab-pane w-100 h-100 bg-black fade show active" id="photo-tab-pane"
             role="tabpanel" aria-labelledby="photo-tab" tabindex="0">
            <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                <!--
                Use the Experience's imageUrl field, if available, otherwise fallback to a default image.
                If the custom image cannot be loaded (invalid URL, network error, etc.), the 'onerror' handler will activate
                and replace it with the fallback image instead.
                -->
                <img th:src="${experience.imageUrl} ?: @{/images/fallback-picture.png}"
                     th:onerror="|this.src='@{/images/fallback-picture.png}'; this.onerror='';|"
                     class="mw-100 mh-100 object-fit-contain"
                     alt="Photo"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Hollywood_Sign_%28Zuschnitt%29.jpg/2560px-Hollywood_Sign_%28Zuschnitt%29.jpg">
            </div>
        </div>
        <div class="tab-pane w-100 h-100 fade" id="map-tab-pane" role="tabpanel" aria-labelledby="map-tab" tabindex="0">
            <iframe
                    class="w-100 h-100"
                    referrerpolicy="no-referrer-when-downgrade"
                    th:src="${mapUrl}"
                    src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDuFGE39oMheD0Y3071eSpRdA8ib4F5OFw&center=33.985778,-118.472896&zoom=19">
            </iframe>
        </div>
        <div class="tab-pane w-100 h-100 fade" id="street-view-tab-pane" role="tabpanel"
             aria-labelledby="street-view-tab" tabindex="0">
            <iframe
                    class="w-100 h-100"
                    referrerpolicy="no-referrer-when-downgrade"
                    th:src="${streetViewUrl}"
                    src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDuFGE39oMheD0Y3071eSpRdA8ib4F5OFw&location=33.985778,-118.472896">
            </iframe>
        </div>
    </div>

    <!-- th:if allows omitting HTML blocks based on some condition, in this case the Experience must have a description -->
    <div class="row" th:if="${experience.description}">
        <p class="col" th:text="${experience.description}" style="white-space: pre-wrap">Description</p>
    </div>
</main>
<!-- footer will go here -->

<!-- Bootstrap JavaScript bundle, required for the interactive tab pane -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>
