<!DOCTYPE html>
<html lang="en">
    <head>
        <div th:replace="~{fragments :: head}"></div>
        <!-- TODO: Can be dynamic -->
        <title>User Details</title>
    </head>

<body>
    <header th:replace="~{fragments :: header}"></header>

<br>
<main>

    <!-- Div container for user profile settings -->

    <div class="container">

        <div class="col-md-12">
            <h1 class="col mb-4 text-center">Your Account</h1>
        </div>

        <div class="row mt-3">

            <div class="col m-2 p-3" style="background-color: #020061; border-radius: 25px;">
                <h2 class="text-center" style="color: white;">Profile Details</h2>
                <div class="row m-2">
                    <h5 style="color: white;">Username:</h5>
                    <input type="text" th:value="${user.username}" class="form-control" id="username" name="username"
                           placeholder="TravelLover97" autofocus="autofocus" readonly>
                </div>

                <div class="row m-2">
                    <div clas="col">
                        <button type="button" class="btn btn-primary float-end" style="width: 100px;">Edit</button>
                    </div>
                </div>

                <!-- Form here -->
                <div class="row m-2">
                    <h5 style="color: white;">Full name:</h5>
                    <input type="text" th:value="${user.fullName}" class="form-control" id="fullName" name="fullName"
                           placeholder="John Doe" autofocus="autofocus" readonly>
                </div>


                <div class="row m-2">
                    <div class="col">
                        <button type="button" class="btn btn-primary float-end" style="width: 100px;">Edit</button>

                    </div>
                </div>

                <!-- Form here -->
            </div>

            <div class="col m-2 p-3" style="background-color: #020061; border-radius: 25px;">
                <h2 class="text-center" style="color: white;">
                    Your Experiences
                </h2>
                <div class="row mt-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Experience Title</th>
                            <th scope="col">View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- If the experienceList is empty, show a message -->
                        <tr th:if="${#lists.isEmpty(user.experienceList)}">
                            <td colspan="3" class="text-center">You have not added any experiences.</td>
                        </tr>
                        <tr th:if="${not #lists.isEmpty(user.experienceList)}"
                            th:each="experience : ${user.experienceList}">
                            <td th:text="${experience.title}"></td>
                            <td>
                                <a type="button"
                                   th:href="@{/experience/{experienceId}(experienceId=${experience.experienceId})}"
                                   class="btn btn-primary">View Experience</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col m-2 p-3" style="background-color: #020061; border-radius: 25px;">
                <div class="col mb-5">
                    <h2 class="text-center" style="color: white;">
                        Your Trips
                    </h2>
                </div>

                <ul style="color: white;">
                    <!-- Thymeleaf formatting here for the list of trips, again hidden until sorted out -->
                    <!--                        <li th:each="anItem : ${section.subList}" hidden></li>-->
                    <li>You have not added any trips.</li>
                </ul>
            </div>
        </div>

    </div>
</main>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>